In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
#creating empty Data Frame
st = pd.DataFrame()
st

Empty DataFrame
Columns: []
Index: []

In [4]:
st['id'] = [1,2,3]

In [5]:
st

   id
0   1
1   2
2   3

In [6]:
#we can add multiple no. of column with assign
a = st.assign(Name = ['aman','chaman','sahil'],course=['btech','mba','bba'])
a

   id    Name course
0   1    aman  btech
1   2  chaman    mba
2   3   sahil    bba

In [7]:
#create a Dictionary of seires
d = {'Name':pd.Series(['aman','chaman','sam','shyam','ram','aam','sanjay']),
     'Age':pd.Series([23,24,25,26,27,28,29]),
     'Rating':pd.Series([4,5,6,7,8,9,2])}

In [8]:
#create a Dataframe
df = pd.DataFrame(d)
df

     Name  Age  Rating
0    aman   23       4
1  chaman   24       5
2     sam   25       6
3   shyam   26       7
4     ram   27       8
5     aam   28       9
6  sanjay   29       2

In [9]:
#pandas version
pd.version

AttributeError: module 'pandas' has no attribute 'version'

In [11]:
pd._version_

AttributeError: module 'pandas' has no attribute '_version_'

In [13]:
print("we use the version of pandas", pd.__version__)

we use the version of pandas 1.0.5