In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df1 =pd.DataFrame([[1,2,3,4],[5,6,7,8],[10,22,33,45],[56,76,87,45],[1,2,3,4]])
df1

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2  10  22  33  45
3  56  76  87  45
4   1   2   3   4

In [6]:
df1.head(2)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [7]:
df1.tail(2)

    0   1   2   3
3  56  76  87  45
4   1   2   3   4

In [9]:
df1.shape(

TypeError: 'tuple' object is not callable